<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>麥當勞語音點餐</title>
        <link rel="icon" href="{{ url_for('static', filename='images/turkey.ico') }}"> 
    </head>    
    <body>
        <!-- <header></header> -->
        <main>
            <section>
                <img src="../static/images/Dessert/applepie.jpg"></img>
                <h3><a href="http://127.0.0.1:5000/EVM">蘋果派<a></h3>

                <img src="../static/images/Dessert/corn-soup-small.jpg"></img>
                <h3><a href="http://127.0.0.1:5500/macmenu.html">玉米濃湯<a></h3>

                <img src="../static/images/Dessert/Fries-S.jpg"></img>
                <h3><a href="http://127.0.0.1:5500/macmenu.html">薯條<a></h3>

                <img src="../static/images/Dessert/mcflurry-oreo.jpg"></img>
                <h3><a href="http://127.0.0.1:5500/macmenu.html">冰炫風<a></h3>

                <img src="../static/images/Dessert/spicy-chicken-wings-2pcs.jpg"></img>
                <h3><a href="http://127.0.0.1:5500/macmenu.html">麥脆雞翅<a></h3>
            </section>
        </main>
        <!-- <aside> </aside> -->
        <!-- <footer></footer> -->
    </body>
</html>
