<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>麥當勞語音點餐</title>
        <link rel="icon" href="{{ url_for('static', filename='images/turkey.ico') }}"> 
    </head>
    <body>
        <img src="../static/images/hsb-mfc/hsb-mccrispy-6pcs.jpg"></img>
        <h3><a href="http://127.0.0.1:5000/EVM">麥脆鷄腿分享盒(6塊)<a></h3>

        <img src="../static/images/hsb-mfc/hsb-spicy-wings.jpg"></img>
        <h3><a href="http://127.0.0.1:5000/Dessert">勁辣香鷄翅分享盒<a></h3>

        <img src="../static/images/hsb-mfc/hsb-tender-wings.jpg"></img>
        <h3><a href="http://127.0.0.1:5000/hsbmfc.html">酥嫩鷄翅分享盒<a></h3>
    </body>
</html>