<!DOCTYPE html>
<html lang="zh-TW"> <!--文字編碼為中文-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
            <title> 
                麥當勞首頁
            </title>
    </head> 
    <body>
        <header>
            <!-- <nav> </nav> -->
            <img src="../static/images/McDonald's.png"></img>
        </header>
        
        <main>
            <section>
                <h1>模式說明:</h1>
                <ul>
                    <li>請按我後 將採用語音模式與手勢模式</li>
                    <li>語音模式:請說出想要的餐點</li>
                    <li>手勢模式: 請比零 (上一步)、一 (下一步) 、五(回首頁)手勢</li>
                </ul>
            </section>
            <section>
                <img src="../static/images/zero.jpg"></img>
                <img src="../static/images/one.jpg"></img>
                <img src="../static/images/five.jpg"></img>
                <br/>
                <a href="combo.php">進入點餐頁面</a>
            </section>
        </main>
        <!-- <aside> </aside> -->
        <!-- <footer></footer> -->
    </body>
</html>